.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-header div {
    display: flex;
    flex-direction: column;
}

.App-header p {
    margin-bottom: 0.7rem;
    font-size: calc(10px + 5vmin);
    color: #ebf1f5;
}

.horizontal {
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
}

.App-link {
    font-size: calc(10px + 1.2vmin);
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
