.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-header div {
    display: flex;
    flex-direction: column;
}

.App-header p {
    margin-bottom: 0.7rem;
    font-size: calc(10px + 5vmin);
    color: #ebf1f5;
}

.App-link {
    font-size: calc(10px + 1.2vmin);
    color: #61dafb;
    /* border: 1px solid #61dafb; */
    /* border-radius: 1vmin; */
    /* padding: 0.3rem; */
    margin: 0.5rem;
    display: inline;
}

.App-link > span {
    margin-right: 5px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
